@use "../../node_modules/bootstrap/scss/bootstrap";  
@use 'base/typography';
@use 'components/testimonials';  
@use 'components/contact-info';                     
@use 'layout/navbar'; 
                               
body {
    background-color: #212529;
    color: #ffffff; 
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;

 }

* {
    border-radius: 15px;
}
